<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vehicles</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <!-- CSS Styles-->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Imports -->
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
</head>

<body>

    <!-- Car Data Capture Container -->
    <div class="car-container" id="car-container">
        <div>
            <h2>Add your car info</h2>
        </div>
        <form id="car-register" name="car-register">
            <div class="form-row">
                <div class="col">
                    <label for="inputPlate">Plate</label>
                    <input type="text" class="form-control" id="inputPlate">
                    <div class="invalid-feedback" id="errorPlate"></div>
                </div>
                <div class="col">
                    <label for="inputBrand">Brand</label>
                    <input type="text" class="form-control" id="inputBrand">
                    <div class="invalid-feedback" id="errorBrand"></div>
                </div>
                <div class="col">
                    <label for="inputColor">Color</label>
                    <input type="text" class="form-control" id="inputColor">
                    <div class="invalid-feedback" id="errorColor"></div>
                </div>
            </div>
        </form>
        <div>
            <button type="submit" class="btn btn-primary" onclick="createCar()">Add car</button>
        </div>
    </div>



    <!-- Wheels Data Capture Container -->
    <div class="container wheels-container" id="form-wheels-creation">
        <div class="title">
            <h2>Add your wheels</h2>
        </div>
        <form id="wheels-register">
            <div class="form-row">
                <div class="col">
                    <label for="inputWheel">Wheel 1 Brand </label>
                    <input type="text" class="form-control" id="inputWheel1Brand">
                    <div class="invalid-feedback" id="errorWheel1Brand"></div>
                </div>
                <div class="col">
                    <label for="inputWheel">Wheel 1 Diameter</label>
                    <input type="number" step="any" class="form-control" id="inputWheel1Diameter">
                    <div class="invalid-feedback" id="errorWheel1Diameter"></div>
                </div>
                <div class="col">
                    <label for="inputWheel">Wheel 2 Brand </label>
                    <input type="text" class="form-control" id="inputWheel2Brand">
                    <div class="invalid-feedback" id="errorWheel2Brand"></div>
                </div>
                <div class="col">
                    <label for="inputWheel">Wheel 2 Diameter</label>
                    <input type="number" class="form-control" id="inputWheel2Diameter">
                    <div class="invalid-feedback" id="errorWheel2Diameter"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="inputWheel">Wheel 3 Brand </label>
                    <input type="text" class="form-control" id="inputWheel3Brand">
                    <div class="invalid-feedback" id="errorWheel3Brand"></div>
                </div>
                <div class="col">
                    <label for="inputWheel">Wheel 3 Diameter</label>
                    <input type="number" class="form-control" id="inputWheel3Diameter">
                    <div class="invalid-feedback" id="errorWheel3Diameter"></div>
                </div>
                <div class="col">
                    <label for="inputWheel">Wheel 4 Brand </label>
                    <input type="text" class="form-control" id="inputWheel4Brand">
                    <div class="invalid-feedback" id="errorWheel4Brand"></div>
                </div>
                <div class="col">
                    <label for="inputWheel">Wheel 4 Diameter</label>
                    <input type="number" class="form-control" id="inputWheel4Diameter">
                    <div class="invalid-feedback" id="errorWheel4Diameter"></div>
                </div>
            </div>
        </form>
        <div>
            <button class="btn btn-primary" onclick="createWheels()">Add wheels</button>
        </div>
    </div>


 
    <!-- Car Data Table Container -->
    <div class="container car-display-container">
        <table id="car-table"></table>
        <table id="wheels-table"></table>
    </div>


    

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>