body {
    font-size: 1.3rem;
}

button {
    margin-top: 1.5rem;
}

form {
    margin-top: 2rem;
}

.car-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.wheels-container {
    display: none;
    text-align: center;
    margin-top: 3rem;
}

.form-row {
    margin-top: 3rem;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
th {
    height: 50px;
    border: none;
}

td {
    border: none;
    text-align: left;
}

.invalid-feedback {
    font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
    -moz-appearance:textfield; 
}